
.insight-section {

    .section {

        &__title {
            flex: 0 1 450px;

            @media screen and (max-width: $breakpoint992) {
                flex: unset;
            }
        }


        &__body {
            @media screen and (max-width: $breakpoint992) {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    // .insight-section__all
    &__all {
        @extend .section__point;
        font-family: $fontPrimary;
        
        &_en {
            font-family: $fontPrimary;
        }

        text-transform: none;

        margin-top: 30px;
        @media screen and (max-width: $breakpoint992) {
            margin-top: 0;
            margin-bottom: 24px;
        }

        color: #485E76;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 21.6px */
        text-transform: unset;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

    }
}


.insights-swiper {

    width: 100vw !important;
    margin-left: calc(-1 * (100vw - 100%) / 2) !important;
    margin-right: calc(-1 * (100vw - 100%) / 2) !important;

    padding-left: calc((100vw - 100%) / 2) !important;
    padding-right: calc((100vw - 100%) / 2) !important;

    // .insights-swiper__footer
    &__footer {
        @extend .cases-swiper__footer;
    }
}

.insight {

    border-radius: 8px;
    background: $colorWhite;
    padding: clamp(20px, 3vw, 28px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    // .insight__img
    &__img {
        width: 100%;
        aspect-ratio: 2 / 1;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    // .insight__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        flex-wrap: wrap-reverse;
    }

    // .insight__tag
    &__tag {
        margin-top: 4px;
        border-radius: 8px;
        border: 1px solid #09817B;

        align-self: flex-start;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: #09817B;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        opacity: 0.72;
    }

    // .insight__date
    &__date {
        color: #BCC8D0;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        white-space: nowrap;
    }

    // .insight__title
    &__title {
        color: #202020;
        font-size: clamp(18px, 2vw, 22px);
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 22px */
    }

    // .insight__text
    &__text {
        @include textOverflow(3);
        color: #616161;
        font-size: clamp(16px, 2vw, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
    }
}

.swiper-counter {
}
.swiper-progress {
}
.swiper-navigation {
}
.swiper-navigation-prev {
}
.swiper-navigation-next {
}
