.back {
    &::before {
        content: '';
        width: 25px;
        aspect-ratio: 1;
        background: url(../img/base/back.svg) center / contain no-repeat;
        display: block;
    }

    display: flex;
    align-items: center;
    gap: 18px;
    color: $colorPrimary;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.85;
    text-transform: uppercase;

    &_white {
        &::before {
            background: url(../img/base/back-white.svg) center / contain no-repeat;
        }
        color: $colorWhite;

    }
}